
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    
    


body{
    background-color: #191c32;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     min-width: 250px;
     margin-bottom: 0px;
}

img{
    width: 500px;
    height: 760px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    min-width: 250px;


}
    img{
        width: 500px;
        height: 760px;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        min-width: 250px;  

}